node_modules/
npm-debug.log*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

dist/
out/
build/

.firebase/
firebase-debug.log
firebase-debug.*.log
.firebaserc 
firebase.json
firestore.rules
firebase.indexes.json

.vite/
.vitepress/
.cache/

.DS_Store
*.swp
*.swo
